* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* General */
.section-title {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 15px;
}

h4 {
  text-transform: capitalize;
}

h4,
p {
  margin-bottom: 10px;
}

.btn{
  color: #fff;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

/* Header */
.header {
  background-color: orange;
  padding: 25px 0;
  text-align: center;
}

.header h1 {
  font-size: 50px;
}

/* To Do Form */
.add-to-do {
  background-color: olivedrab;
  padding: 15px;
  text-align: center;
}

.add-to-do .form {
  background-color: yellowgreen;
  padding: 15px 35px;
  margin: auto;
  width: 40%;
}

.add-to-do .form .form-row {
  margin-bottom: 15px;
}

.add-to-do .form .form-label {
  display: block;
  margin-bottom: 5px;
  text-align: start;
  font-size: 20px;
}

.add-to-do .form .form-control {
  width: 100%;
  font-size: 16px;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
  
}

.add-to-do .form input {
  height: 30px;
}

/* to do description start */
.add-to-do .form .form-row:nth-child(2){
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-do .form .form-row:nth-child(2) button{
  font-size: 12px;
  padding: 2px 7px;
  background-color: blueviolet;
}

.add-to-do .form .form-row:nth-child(3){
  display: none;
}

.add-to-do .form .form-row:nth-child(3).show{
  display: block;
}
/* to do description end */

.add-to-do .form .form-btn {
  background-color: rgb(67, 67, 228);
  padding: 10px 25px;
}

/* container */
.container {
  background-color: bisque;
  max-width: 1400px;
  margin: auto;
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* To Do List*/
.to-do-list {
  background-color: aquamarine;
  width: 50%;
  padding: 10px;
}

.todo {
  background-color: cadetblue;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.todo .todo-section-1 {
  background-color: darkgray;
  margin-bottom: 10px;
}

.todo .todo-section-2 {
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo .todo-section-2 label{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
}

.todo .todo-section-2 input{
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.todo .todo-section-2 button{
  background-color: rgb(67, 67, 228);
  padding: 7px 15px;
}

.todo .todo-section-2 .edit-btn{
  background-color: rgb(129, 129, 42);
}

.todo .todo-section-2 .delete-btn{
  background-color: rgb(173, 29, 29);
  margin-left: 5px;
}
